<ul>
  {{- range where site.Sections.ByWeight "LinkTitle" "ne" "" }}
  <li><a class="contrast" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    {{- with .Pages.ByWeight }}
    <ul>
      {{- range where . "LinkTitle" "ne" "" }}
      <li><a class="contrast" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
  </li>
  {{- end }}
  {{- with site.GetPage "/news" }}
  <li><a role="button" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
  {{- end }}
</ul>
