{{ if not .FirstSection.IsHome }}
<div class="nav-section">
    <aside>
        <nav>
            <ul>
                <li><strong>
                    {{- if or .IsSection .IsPage }}
                        {{- with .FirstSection }}
                            {{- .File.ContentBaseName }}
                        {{- end }}
                    {{- end -}}
                </strong></li>
                {{- range where .FirstSection.RegularPagesRecursive.ByWeight "LinkTitle" "ne" "" }}
                <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
                {{- end }}
            </ul>
        </nav>
    </aside>
</div>
{{- end -}}
