:root {
    --pico-font-family-sans-serif: "Poppins", sans-serif, var(--pico-font-family-emoji);
    --pico-font-family: var(--pico-font-family-sans-serif);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    --pico-font-family: "Raleway", sans-serif, var(--pico-font-family-emoji);
}

h2,
h3 {
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .featured {
        grid-template-columns: repeat(auto-fit, minmax(max(calc(33% - 2 * var(--pico-grid-column-gap)), 18rem), 1fr));
    }
}

.grid > article {
    display: flex;
    flex-direction: column;
}

.grid > article > p:last-of-type {
    flex: 1;
}

.grid > article > footer {
    margin-top: 0;
}

body > header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    padding: 0 1rem;
    background-color: var(--pico-background-color);
    color: var(--pico-color);
}

body > header nav li [role=button] {
    margin-bottom: calc(var(--pico-nav-link-spacing-vertical) * -1);
}

/* base */

/* body {
    background-color: black;
} */

/* layout */

/* nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    background-color: black;
} */

/* nav > ul > a:nth-child(1) > img { 
    height: 6.66rem;
    width: auto;
} */

/* module */


/* state */


/* theme */

/* a {
    color: #05e1b9;
} */

footer { 
    text-align: center;
}

main section header {
    display: flex;
    position: relative;
    margin-top: -1rem;
    margin-bottom: 3rem;
    padding: 0;
    width: 100vw;
    max-height: 520px;
    left: calc(-50vw + 50%);
    overflow-y: hidden;
    align-items: center;
}

main section header img {
    width: 100%;
}

.grid div {
    container-type: inline-size;
}

@container (min-width: 100px) {
    .grid img {
        height: 60cqi;
        object-fit: cover;
    }
}
