
{{- define "main" }}
{{- partial "main.html" . }}
<hr>
<div style="text-align: center;">
  <h2>Recent news</h2>
</div>
<div class="grid featured">
  {{- range first 6 (where .Site.Pages "Section" "news") }}
  <article>
    <header>
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    </header>
    <p>{{ .Summary | truncate 150 }}</p>
    <footer>
      {{- $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{- $dateHuman := .Date | time.Format ":date_long" }}
      <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    </footer>
  </article>
  {{- end }}
</div>
<div style="text-align: right">
  <a href="/news">Read more Recent News</a>
</div>
{{- partial "search.html" }}
{{- end -}}
