{{ define "main" }}
<header>
  {{- with .Resources.Get .Params.banner }}
  <div class="banner">
    <div class="lqip">
      <img src="{{ .RelPermalink }}" alt="" width="{{ .Width }}" height="{{ .Height }}">
    </div>
    {{- with $.Params.banner_title }}
    <div>
      <h1>{{ . }}</h1>
      {{- with $.Params.banner_caption }}
      {{ . | $.RenderString (dict "display" "block") }}
      {{- end }}
      {{- with $.Params.banner_button }}
      <p><a role="button" href="{{ $.Params.banner_button_link }}">{{ . }}</a></p>
      {{- end }}
    </div>
    {{- end }}
  </div>
  {{- end }}
</header>
<section>
  {{ .Content }}
</section>
{{- range .Pages }}
<h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
{{ $dateHuman := .Date | time.Format ":date_long" }}
<time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
<p>{{ .Summary }}</p>
{{- end }}
{{- end -}}
